@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    font-style: normal;
    src: url("../../fonts/NotoSansKR-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/NotoSansKR-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/NotoSansKR-Black.ttf") format("truetype");
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee&family=Lilita+One&family=Secular+One&display=swap');