:root {
    --mainfont-noto: "hallymGothic", sans-serif;

    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;

    --white: #fff;
    --white100: #f8f8f8;
    --white200: #ddd;
    --white300: #ccc;
    --white400: #bbb;
    --white500: #aaa;

    // 폰트 셋팅
    font-family: var(--mainfont-noto);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}